.cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 320px;
  height: 360px;
  /* background-color: #2f2f2f; */
  border-radius: 6px;
  overflow: hidden;

  flex-shrink: 0;
  scroll-snap-align: start;

  background-size: cover;

  background-image: url("/images/conference/lineup-card.jpg");
  animation: fadeInUp 0.8s ease forwards;
  opacity: 0;

  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  transition: box-shadow 0.3s ease;
  /* animation: glow 3s ease-in-out infinite; */
}

.cardContainer:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.092);
}

/* camada de blur + escuridão + ícone */
.overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 45%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lockIcon {
  margin-top: 20px;
  width: 48px;
  height: 48px;
  color: rgb(93, 93, 93);
  opacity: 0.8;
  animation: pulse 5s ease-in-out infinite;
}

.message {
  color: rgb(255, 255, 255);
  font-size: 14px;
  opacity: 0;
  transition: all 0.3s ease;
  text-align: center;
  line-height: 1.5;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.692);
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

@media (min-width: 768px) {
  .cardContainer {
    max-width: 320px;
    flex-shrink: 1;
    scroll-snap-align: unset;
  }
}
@media (min-width: 1024px) {
  .cardContainer {
    max-width: 350px;
    flex-shrink: 1;
    scroll-snap-align: unset;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
  }
}
