.faqSection {
  /* padding: 60px 20px; */
  /* color: #fff; */
  background: url("/images/conference/background8.jpg");

  background-size: cover;
  background-position: center;
  max-width: unset !important;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faqContainer {
  /* max-width: 1200px;
  margin: 0 auto; */

  max-width: 1200px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  flex-direction: column;
  padding: 60px 0;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.faqList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.faqItem + .faqItem {
  border-top: 1px solid #333;
}

.question {
  background: none;
  border: none;
  color: #253add;
  font-weight: bold;
  width: 100%;
  text-align: left;
  padding: 16px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  background-color: #d1fc5e;
}

.icon {
  font-size: 20px;
  transition: transform 0.2s ease;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 16px;
  background-color: #fd4d1b;
}

.answer p {
  margin: 16px 0;
  font-size: 14px;
  line-height: 1.5;
}

.open {
  max-height: 300px;
  padding-bottom: 16px;
}
