.bannerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  position: relative;
  overflow: hidden;

  animation: fadeInUp 0.8s ease forwards;
}

.fade {
  mask-image: linear-gradient(to bottom, #000 90%, transparent 100%);
  background-image: url("/images/conference/background.jpg");
  background-size: cover;
  width: 100%;
  height: 80vh;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.logoGlitch {
  width: min(90vw, 800px);
  aspect-ratio: 800 / 550;
  background: url("/images/conference/logo.png");
  background-size: cover;
  background-position: center;
  animation: float 2s ease-in-out infinite, glitch 12s infinite steps(1);
  z-index: 2;
}

.caroussel {
  width: 100%;
  overflow: hidden;
  background: rgb(47 47 47);
  /* border-top: 1px solid white;
  border-bottom: 1px solid white; */

  position: absolute;
  top: 0;
  z-index: 5;
  display: flex;
}
.track {
  /* bottom: 20px; */
  color: #646464;
  font-size: 17px;
  font-family: "Inconsolata", monospace;

  gap: 20px;
  /* letter-spacing: 2px; */
  text-transform: uppercase;
  white-space: nowrap;
  display: flex;
  width: max-content;
  font-weight: 200;
  animation: scroll 40s linear infinite;
}

/* ------------ */

.saveTheDateSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  position: relative;
  z-index: 5;
  margin: -90px auto 10px auto;
  padding-bottom: 70px;
  max-width: 1200px;
}
.saveTheDateSection > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
}
.saveTheDateTitle {
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
}
.saveTheDateDays {
  align-items: center;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
}
.saveTheDateButton {
  position: absolute;
  bottom: 0;
  /* margin-left: 15px; */

  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* ------------------ */

.timelineSection {
  padding: 80px 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.timelineSection h2 {
  font-size: 20px;
  margin: 0 0 6px 0;
  text-transform: uppercase;
}
.timelineSection > p {
  margin: 0;
  font-size: 14px;
  color: #646464;
}

/* ------------------- */

.lineUpSection {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px 30px;
}

.lineUpSection h2 {
  font-size: 20px;
  margin: 0 0 6px 0;
  text-transform: uppercase;
}
.lineUpSection > p {
  margin: 0;
  font-size: 14px;
  color: #646464;
}

.lineUpList {
  display: flex;
  gap: 20px;
  padding: 20px 0 0 0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  list-style: none;
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch; /* Suaviza no iOS */
}

.lineUpList::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

/* ------------------- */

.ticketsSection {
  background-color: #ff3c01;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 80px 30px 40px;
  margin-top: -80px;
  min-height: 200px;

  background: url("/images/conference/background2.jpg");
  background-size: cover;
  background-position: center;
}

.ticketsContent {
  max-width: 1200px;
  margin: 0 auto;
}

.ticketsContent h2 {
  font-size: 20px;
  margin: 0 0 6px 0;
  text-transform: uppercase;
}
.ticketsContent > p {
  margin: 0;
  font-size: 14px;
  color: #ffd5c8;
}

.ticketsList {
  display: flex;
  gap: 20px;
  padding: 20px 0 0 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .track {
    font-size: 19px;
  }

  .fade {
    mask-image: linear-gradient(to bottom, #000 70%, transparent 100%);
  }
  .saveTheDateSection {
    padding-bottom: 0px;
    margin-top: 0px;
    /* padding: 0 30px; */
    width: 95%;
  }
  .saveTheDateSection > div {
    /* width: 60%; */
    padding: 0;
  }

  .saveTheDateDays {
    font-size: 25px;
    line-height: 30px;
  }

  .saveTheDateButton {
    position: relative;
    bottom: 0;
    margin-left: 0;
    display: block;
    width: unset;
  }

  .timelineSection {
    padding: 60px 0;
    width: 95%;
  }
  .lineUpSection {
    padding: 60px 0;
    width: 95%;
  }

  .lineUpList,
  .ticketsList {
    flex-wrap: wrap;
    overflow-x: unset;
    scroll-snap-type: none;
    justify-content: space-between;
    gap: 46px;
  }

  .ticketsList {
    gap: 10px;
  }

  .ticketsSection {
    padding: 270px 30px 60px;
    margin-top: -250px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Float logo */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Glitch logo */
@keyframes glitch {
  0%,
  93%,
  100% {
    background: url("/images/conference/logo.png");
    background-size: cover;
  }
  94% {
    background: url("/images/conference/logo-glitch1.png");
    background-size: cover;
  }
  95% {
    background: url("/images/conference/logo-glitch2.png");
    background-size: cover;
  }
  96% {
    background: url("/images/conference/logo-glitch3.png");
    background-size: cover;
  }
  97% {
    background: url("/images/conference/logo-glitch4.png");
    background-size: cover;
  }
  98% {
    background: url("/images/conference/logo-glitch2.png");
    background-size: cover;
  }
  99% {
    background: url("/images/conference/logo-glitch3.png");
    background-size: cover;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
